


/* variables */
$font:'Lato', sans-serif;
$primary_color:white;
$height:100vh;
$blue:#244F75;
$lightblue:#60BFBF;
$purple:#8C4B7E;
$yellow: #F8BB44;
$red:#F24B4B;
$color: $blue, $lightblue, $purple, $yellow, $red;
$animation1:strip--u4rx9pe;
$animation2:strip--u4rx9pg;
$animation3:strip--u4rx9q8;
$animation4:strip--u4rx9qn;
$animation5:strip--u4rx9r0;
$animation: $animation1, $animation2, $animation3, $animation4, $animation5;